<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>DHL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/estilos.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">DHL</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="historia.html">Historia</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="video.html">Promocion</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="servicios.html">Servicios</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="board.html">Board</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="america.html">America</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="europa.html">Europa</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="costaRica.html">Costa Rica</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <aside class="aside">
            <center>
                <h2>Promedio Anual</h2>
                <p>DHL realiza aproximadamente 10 millones de envíos por día en todo el mundo, lo que representa más de 3.65 mil millones de envíos anuales en todas sus divisiones. Esta cifra incluye los servicios de mensajería exprés, carga internacional, y soluciones de e-commerce y logística para grandes cadenas de suministro, consolidando su posición como líder global en logística y transporte internacional. Este volumen está impulsado por su presencia en más de 220 países y territorios y su participación significativa en el crecimiento del comercio electrónico internacional y los envíos a tiempo definido (TDI).</p>
            </center>
        </aside>
        <section class="section">
            <center>
                <h2>Board</h2>
                <p>En 2024, la Junta Directiva de DHL, bajo su empresa matriz Deutsche Post AG, está compuesta por varios ejecutivos clave que guían la estrategia y operación global del grupo. Tobias Meyer, quien asumió como CEO en mayo de 2023, lidera la empresa, enfocado en avanzar sus estrategias de sostenibilidad y expansión. Melanie Kreis continúa desempeñándose como Directora Financiera, papel que ha ocupado desde 2016. Otros miembros destacados incluyen a Nikolaus von Bomhard, quien ocupa la posición de presidente de la junta desde 2018, y Simone Menne, una miembro experimentada que ha estado en la junta desde 2014.

                   Además, el directorio incluye figuras como Andrea Kocsis y Stefan Schulte, ambos con años de experiencia en la gestión estratégica y operativa del grupo. Estos líderes colaboran para fortalecer la posición de DHL en el mercado logístico global, asegurando que la empresa continúe su crecimiento mientras integra innovaciones tecnológicas y prácticas sostenibles en sus operaciones..<br><br></p>
                <img src="../img/board.jpg" alt="Board" width="400"/>
            </center>
        </section>
        <footer class="footer">
            <p>DHL 2024</p>
        </footer>
    </body>
</html>
