<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>DHL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/estilos.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">DHL</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="historia.html">Historia</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="video.html">Promocion</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="servicios.html">Servicios</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="board.html">Board</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="america.html">America</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="europa.html">Europa</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="costaRica.html">Costa Rica</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <aside class="aside">
            <center>
                <h2>Promedio Anual</h2>
                <p>DHL realiza aproximadamente 10 millones de envíos por día en todo el mundo, lo que representa más de 3.65 mil millones de envíos anuales en todas sus divisiones. Esta cifra incluye los servicios de mensajería exprés, carga internacional, y soluciones de e-commerce y logística para grandes cadenas de suministro, consolidando su posición como líder global en logística y transporte internacional. Este volumen está impulsado por su presencia en más de 220 países y territorios y su participación significativa en el crecimiento del comercio electrónico internacional y los envíos a tiempo definido (TDI).</p>
            </center>
        </aside>
        <section class="section">
            <center>
                <h2>DHL Costa Rica</h2>
                <p>DHL cuenta con un importante Centro de Servicios Compartidos (Shared Services Center) en Heredia, Costa Rica, ubicado en el parque empresarial Zona Franca El Cafetal 2. Este centro, inaugurado con una inversión de aproximadamente 13.5 millones de dólares, gestiona soporte para clientes en América, Europa y Asia, centralizando servicios financieros, de TI, de recursos humanos y de atención al cliente. Además, su personal multicultural y multilingüe atiende en varios idiomas, y el centro ha sido diseñado para crecer en empleados y apoyar la expansión de DHL en la región​.</p>
                <img src="../img/Oficina DHL.avif" alt="dhl Costa Rica" width="300"/>
            </center>
        </section>
        <footer class="footer">
            <p>DHL 2024</p>
        </footer>
    </body>
</html>
